{% extends 'base.html' %}
{% load static %}

{% block title %}Home Chat{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}?version=1">
    <style>
        .box-info__avatar {
            background-image: url("{{ chat_user_selected.profile_image.url }}");
        }

        .header__navbar-profile-avatar {
            background-image: url("{{ request.user.profile_image.url }}");
        }
    </style>
{% endblock cssblock %}

{% block header %}
    {% include 'pages/header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__col-3 grid__max-height .grid__min-width">
                <div class="left-nav">
                    <nav class="chatmenu">
                        <div class="chatmenu-heading">
                            <h3 class="chatmenu-heading__title">Chat</h3>
                            <!-- <div class="chatmenu-heading__option">
                                <a href="#" class="chatmenu-heading__option-link">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </a>
                                <a href="#" class="chatmenu-heading__option-link">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </div> -->
                        </div>
                        
                        <div class="chatmenu-navbar">
                            <div id="chatmenu-navbar__search-wrap" class="chatmenu-navbar__search-wrap">
                                <form id="search-form" class="chatmenu-navbar__search">
                                    {% csrf_token %}
                                    <input id="search-user-input" class="chatmenu-navbar__search-input" type="text" placeholder="Search">
                                    <i class="chatmenu-navbar__search-icon fa-solid fa-magnifying-glass"></i>
                                </form>
                                <div class="chatmenu-navbar__search-result">
                                    <h4 class="chatmenu-navbar__search-title">Users</h4>
                                    <ul class="chatmenu-navbar__search-list">
                                        <!-- <li class="chatmenu-navbar__search-item">
                                            <a class="chatmenu-navbar__search-link href="">
                                                <img class="chatmenu-navbar__search-image" src="/media/profile_images/2/profile_image.png" alt="">
                                                <span class="chatmenu-navbar__search-item-info">Username</span>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- <div class="chatmenu-navbar__selection">
                                <a href="#" class="chatmenu-navbar__selection-link">Friends</a>
                                <a href="#" class="chatmenu-navbar__selection-link">Groups</a>
                            </div> -->
                        </div>
    
                        <ul id="private-chat__list" class="chatmenu-list">
                            <!-- {% for room_item in room_list %}
                                <li>
                                    <a id="room__roomId-{{ room_item.pk }}" onclick="" href="{% url 'chatroom:main_chat' room_item.pk %}" class="chatmenu-item">
                                        <img src="{% static 'img/avt-female.svg' %}" alt="" class="chatmenu-info__avatar">
                                        <div class="chatmenu-info">
                                            <h4 class="chatmenu-info__username">{{ room_item }}</h4>
                                            <p class="chatmenu-info__lastest">Lastes f fffffffffffffffffffff</p>
                                        </div>
                                        <i id="room-status-userId-{{room_item.pk}}" class="fa-solid fa-circle chatmenu-status"></i>
                                    </a>
                                </li>
                            {% endfor %} -->
                        </ul>
                    </nav>
                    <nav class="group-chat">
                        <h3 class="group-chat__title">Groups</h3>
                        <ul class="chatmenu-list group-chat__list" id="group-chat__list">
                            <li>
                                <a href="#" class="group-chat__item">
                                    <div class="group-chat__image">
                                        <span class="group-chat__image-char">G</span>
                                    </div>
                                    <span class="group-chat__name">group name</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-chat__item">
                                    <div class="group-chat__image">
                                        <span class="group-chat__image-char">G</span>
                                    </div>
                                    <span class="group-chat__name">group name</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-chat__item">
                                    <div class="group-chat__image">
                                        <span class="group-chat__image-char">G</span>
                                    </div>
                                    <span class="group-chat__name">group name</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="grid__col-6 grid__max-height .grid__min-width">
                <div class="box-chat" id="box-chat">
                    {% if is_selected_room == True %}
                        <div class="box-header">
                            <div class="box-info">
                                <img alt="" class="box-info__avatar">
                                <div class="box-info__info">
                                    <h3 class="box-info__info-username">{{ chat_user_selected.username }}</h3>
                                        {% if chat_user_selected.is_online %}
                                            <p style="color: green;" id="status-userId-{{ chat_user_selected.id }}" class="box-info__info-status">
                                                <i class="fa-solid fa-circle"></i>
                                                Online
                                            </p>
                                        {% else %}
                                            <p style="color: var(--text-color)" id="status-userId-{{ chat_user_selected.id }}" class="box-info__info-status">
                                                <i class="fa-solid fa-circle"></i>
                                                Offline
                                            </p>                                         
                                        {% endif %}
                                </div>
                            </div>

                            <div class="box-menu">
                                <a href="#" class="box-menu__link">
                                    <i class="box-menu__icon fa-solid fa-phone"></i>
                                </a>
                                <a href="#" class="box-menu__link">
                                    <i class="box-menu__icon fa-solid fa-video"></i>
                                </a>
                                <a href="#" class="box-menu__link">
                                    <i class="box-menu__icon fa-solid fa-circle-info"></i>
                                </a>
                            </div>
                        </div>
                        <div id="box-message" class="chat-room">
                            {{ room.pk|json_script:"current-room" }}
                            <!-- <div class="message-received">
                                <img src="{% static 'img/avt-female.svg' %}" alt="" class="message-avatar">
                                <div class="message-container">
                                    <div class="message-info">
                                        <span class="message-info__username">username</span>
                                        <span class="message-info__timestamp">Yesterday 10:40 AM</span>
                                    </div>
                                    <div class="message-box message-received__body"> 
                                        <p class="message-content">hello xin chao cac ban received</p>
                                    </div>
                                </div>
                            </div>
                            <div class="message-sent">
                                <img src="{% static 'img/avt-female.svg' %}" alt="" class="message-avatar">
                                <div class="message-container">
                                    <div class="message-info">
                                        <span class="message-info__username">username</span>
                                        <span class="message-info__timestamp">Yesterday 10:40 AM</span>
                                    </div>
                                    <div class="message-box message-sent__body">
                                        <p class="message-content">hello xin chao cac ban sent</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="chat-bar">
                            <div class="chat-bar__media">
                                <ul class="chat-bar__media-list">
                                    <li class="chat-bar__media-item">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </li>
                                    <li class="chat-bar__media-item">
                                        <i class="fa-solid fa-image"></i>
                                    </li>
                                    <li class="chat-bar__media-item">
                                        <i class="fa-solid fa-note-sticky"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat-bar__input">
                                <input type="text" id="chat-bar__input-content" class="chat-bar__input-content" placeholder="Aa">
                                <a href="#" class="chat-bar__input-icon">
                                    <i class="fa-solid fa-face-smile"></i>
                                </a>
                            </div>
                            <div id="chat-bar__send" class="chat-bar__send">
                                <a class="btn btn-send">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <h2>Not RoomChat selected</h2>
                    {% endif %}
                </div>
            </div>

            <div class="grid__col-3 grid__max-height .grid__min-width">
                <div class="user_detail">
                    <div class="user_detail__header">
                        <div style="background-image: url('{{ chat_user_selected.profile_image.url }}');" class="user_detail__bg"></div>
                        <div class="user_detail__container">
                            <span class="user_detail__username">{{ chat_user_selected.username }}</span>
                            <span class="user_detail__text">Student</span>
                            <div class="user_detail__with-icon">
                                <i class="user_detail__with-icon__icon fa-solid fa-location-dot"></i>
                                <span class="user_detail__location">HN, VietNam</span>
                            </div>
                            <div class="user_detail__container-button">
                                <button class="user_detail__button">
                                    <i class="fa-solid fa-message"></i>
                                </button>
                                <button class="user_detail__button">
                                    <i class="fa-solid fa-message"></i>
                                </button>
                                <button class="user_detail__button">
                                    <i class="fa-solid fa-video"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="user_detail__body">
                        <h3 class="user_detail__body-header">Information</h3>
                        <div class="user_detail__information">
                            <h4 class="user_detail__information-title">Phone</h4>
                            <span class="user_detail__information-content">0987 654 321</span>
                        </div>
                        <div class="user_detail__information">
                            <h4 class="user_detail__information-title">Email</h4>
                            <span class="user_detail__information-content">daylaemaill@email.com</span>
                        </div>
                    </div>
                    <div class="user_detail__footer">
                        <h3 class="user_detail__footer-title">Media</h3>
                        <div class="user_detail__media-container">
                            <img src="/media/profile_images/2/profile_image.png" alt="" class="user_detail__media">
                            <img src="/media/profile_images/2/profile_image.png" alt="" class="user_detail__media">
                            <img src="/media/profile_images/2/profile_image.png" alt="" class="user_detail__media">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block jsblock %}
    <script src=" {% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script>
        var is_user_auth = "{{ request.user.is_authenticated }}"
        var debug_mode = "{{ debug_mode }}"
    </script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock jsblock %}
    

<!-- <h1>Home page.</h1>

<a href="{% url 'authenticate:logout' %}">Logout</a>
{% endblock content %} -->