:root {
    --white-color: #f8f9fa;
    --black-color: #000;
    --text-color: #d9d9d9;
    --primary-color: #a2d2ff;
    --no-focus-color: #a8dadc;
    --warning-color: #ef233c;
    --header-height: 70px;

    --bg-color-b: #457b9d;
    --bg-color: #a8dadc;
    --card-color: #f1faee;
    --text-b-color: #1d3557;
    --input-color: rgba(168, 218, 220, .5);
    --main-chat-color: #E63946;
    --active-color: #457b9d;
    --hover-color: rgba(69, 123, 157, .3);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* RESPONSIVE */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
/* test responsive */

.grid__col-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.grid__col-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.grid__min-width {
    min-width: 72px;
}

.grid__max-height {
    height: calc(100vh - var(--header-height) - 16px);
}


/* -------------------HEADER------------------------- */

.header {
    height: var(--header-height);
    background-color: var(--card-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
}

.header__navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.header__navbar-right {
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.header__navbar-logo {
    
}

.header__navbar-logo,
.header__navbar-logo-link,
.header__navbar-logo-img {
    height: 30px;
    width: auto;
}

.header__navbar-list {
    list-style: none;
}

.header__navbar-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    position: relative;
    height: 100%;
    /* margin-right: 28px; */
    flex: 1 0;
    width: 120px;
}

.header__navbar-menu .header__navbar-item {
    box-sizing: border-box;
}


.header__navbar-item, 
.header__navbar-item-link {
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-flex;
    color: var(--text-b-color);
    font-weight: 300;
    align-items: center;
    justify-content: center;
    transition: .25s ease;
}

.header__navbar-item:hover {
    box-sizing: border-box;
    border-top: 3px solid var(--active-color);
    border-radius: 2px;
    /* opacity: 0.9; */
    cursor: pointer;
}

.header__navbar-item:hover > .header__navbar-item-link {
    color: var(--active-color);
}

.header__navbar-item--active {
    border-top: 3px solid var(--active-color);
}

.header__navbar-item--active .header__navbar-item-link {
    color: var(--active-color);
}

.header__navbar-item-logo {
    font-size: 1.8rem;
    margin: 0 12px 0 0;
}

.header__navbar-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
}

.header__navbar-profile-avatar{
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0px solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    background-color: white;
}

.header__navbar-profile-username{
    font-weight: 800;
    color: var(--text-b-color);
}

.header__navbar-profile-status{
    margin: 0;
    color: lightgreen;
    font-weight: 300;
    font-size: 1.1rem;
}

/* ANIMATION */

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes grownUp {
    from {
        transform: scale(var(--grownUp-from));
    } to {
        transform: scale(var(--grownUp-to));
    }
}


/* MODAL */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    /* visibility: hidden; */
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --grownUp-from: 0.7;
    --grownUp-to: 1;
    background-color: var(--white-color);
    position: relative;
    margin: auto;
    border-radius: 5px;
    z-index: 1;
    transition: growUp linear 0.2s;
}

/* BUTTON STYLE */

.btn {
    min-width: 150px;
    height: 40px;
    width: 350px;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--with-icon {
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn--icon-text {
    margin-left: 10px;
    color: gray;
}

.btn--icon-img {
    width: 20px;
}

.btn-send {
    font-size: 2rem;
    border: none;
    color: #cdb4db;
    padding: 4px;
    border-radius: 50%;
}